*{
    padding: none;
    user-select: none;    
    border: none;
    
    cursor:url('../../img/image\ \(1\).png'),auto;
    
}


.containerRotate{
  
  width: 100vh;
  height: 100vw;  
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  
  
}
.characters {  
  height: 70vh;
  display: flex;
  right: 150px;
  margin-left: -120px;
  align-items: center;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  
  
  
  
}

.backgorundCharacter{
  margin-top: 35px;
}



.tiltCardCharacter{
  display: flex;
  height: 435px;
  margin-left: 85px;
  margin-right: 85px; 
  transform-style: preserve-3d; 
  
}
.imageCharacter{
  position: absolute;
  height: 305px;
  margin-top: 5px;
  margin-left: 25px;
  transform: translateZ(30px);
  top: 0;
  transition: 0.5s ease;
}
.nameCharacter{
  position: absolute;
  bottom: 85px;
  right: 15px;
  font-size: 35px;
  font-family: name;
  color: white;
  transform: translateZ(25px);
}
.logoEdgerunnersCard{
  position: absolute;
  width: 150px;
  bottom: 65px;
  transform: translateZ(20px);
  right: 18px;
}
.statusCharacter{
  position: absolute;
  width:max-content;
  bottom: 30px;
  left: 25px;
  font-size: 23px;
  color: white;
  transform: translateZ(15px);
}


.deadText{
  color: rgb(216, 31, 31);
}

.liveText{
  color: rgb(93, 189, 30);
}

