*{
    padding: none;
    user-select: none;    
    border: none;
    /* background: url(../../img/background.png)no-repeat center center fixed;
    background-size:contain;
    background-repeat: repeat; */
    
}
.characters{
    height: 100vh;
    display: flex;
    align-items: center;

}
.card {
    display: grid;
    grid-template-columns: 150px;
    border-radius: 18px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
    margin-left: 100px;
    size: 100%;
    
  }
/* .imgCard{
    
} */
.card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }