/* .App{
  background-image: url('./img/background.png');
  filter: blur(5px);
  height: 100vh;
  width: 100vw;
} */
*{
  background: url(../../img/background.png)no-repeat center center fixed;
    background-size:contain;
    background-repeat: repeat;
}

.all-characters{
  height: 45vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  }
  .imgBanner{
    height: auto;
    width: 100%;
    
   }

.characters{
  height: 40vh;
  width: 100vw;
  
}
